params {
    // trim_galore parameters
    trimGalore_quality = 25
    trimGalore_fastqc = '--fastqc' // set this to '' if you don't want to run fastqc
    trimGalore_adapter = 'A{10}' 
    trimGalore_adapter2 = 'A{10}'
    trimGalore_gzip = '--gzip' //alternative '--dont_gzip'
    trimGalore_length = 20
    trimGalore_polyA = '--polyA'

    //user directory
    userDir="/home/litovche/Desktop/BRB-seq_pipeline/BRB_seq_PipelineDevelopment/"

    // technical directory, contains all support files, like genomes, etc
    techDir="/home/litovche/Desktop/BRB-seq_pipeline/test_input/"
    barcodefile=techDir + "barcodes_v3.txt"

    brbseqTools = '/home/litovche/bin/BRBseqTools.1.5.jar'
    genomePath="/home/litovche/Documents/RefGen/chr21human/"

    fastqExtens=".fastq\$\\|.fq\$\\|.fq.gz\$\\|.fastq.gz\$"

    R1code = "_R1_"
    R2code = "_R2_"

    umiLen=10

    // path to the input table with samples
    sampleTabPath = 'test_input/sampleTable.csv'
    numbOfProc = 4

    genome_base=""

    // Custom paths to reference genomes.
    // Change these to reflect genome assemblies required to run your pipeline and the associated paths.
    genomes {
        'GRCh38.86' {
            fasta             = "${params.genome_base}/homo_sapiens/ensembl/GRCh38/release-86/genome/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
	    fai		      = "${params.genome_base}/homo_sapiens/ensembl/GRCh38/release-86/genome/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.fai"
 	    gtf               = "${params.genome_base}/homo_sapiens/ensembl/GRCh38/release-86/gtf/Homo_sapiens.GRCh38.86.gtf"
	    bwa_idx	      = "${params.genome_base}/homo_sapiens/ensembl/GRCh38/release-86/genome_idx/bwa/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
        }
	'Felis_catus_9.0.93' {
	    fasta             = "${params.genome_base}/felis_catus/ensembl/Felis_catus_9.0/release-93/genome/Felis_catus.Felis_catus_9.0.dna_sm.toplevel.fa"
	    fai		      = "${params.genome_base}/felis_catus/ensembl/Felis_catus_9.0/release-93/genome/Felis_catus.Felis_catus_9.0.dna_sm.toplevel.fa.fai"
 	    gtf               = "${params.genome_base}/felis_catus/ensembl/Felis_catus_9.0/release-93/gtf/Felis_catus.Felis_catus_9.0.93.gtf"
	    bwa_idx	      = "${params.genome_base}/felis_catus/ensembl/Felis_catus_9.0/release-93/genome_idx/bwa/Felis_catus.Felis_catus_9.0.dna_sm.toplevel.fa"
	}
    }
}

