params {
    // general parameters
    R1code = "_R1_"
    R2code = "_R2_"
    fastqExtens = ".fastq\$\\|.fq\$\\|.fq.gz\$\\|.fastq.gz\$"
    numbOfProc = 4

    // technical directory, contains all support files, like genomes, etc
    techDir="/home/litovche/Desktop/BRB-seq_pipeline/test_input/"
    barcodefile=params.techDir + "barcodes_v3.txt"

    // software paths
    brbseqTools = '/home/litovche/bin/BRBseqTools.1.5.jar'

    // genome base folder paths
    genomePath = '/home/litovche/Documents/RefGen/chr21human/'
 
    // trim_galore parameters
    trimGalore_quality = 25
    trimGalore_fastqc = '--fastqc' // set this to '' if you don't want to run fastqc
    trimGalore_adapter = 'A{10}' 
    trimGalore_adapter2 = 'A{10}'
    trimGalore_gzip = '--gzip' //alternative '--dont_gzip'
    trimGalore_length = 20
    trimGalore_polyA = '--polyA'

    // brbseq-tools parameters 
    umiLen = 10
    buPattern = 'BU' 

    // STAR parameters
    star_runThreadN = 1
    star_readFilesCommand = 'zcat'
    star_outSAMtype = 'BAM SortedByCoordinate'
    star_outFilterScoreMinOverLread = 0.66
    star_outFilterMatchNminOverLread = 0.66
    star_outFilterMultimapNmax = 1
}
