params {
    // general parameters
    R1code = "_R1_"
    R2code = "_R2_"
    fastqExtens = ".fastq\$\\|.fq\$\\|.fq.gz\$\\|.fastq.gz\$"
    numbOfProc = 4

    // technical directory, contains all support files, like genomes, etc
    techDir="/home/litovche/Desktop/BRB-seq_pipeline/test_input/"
    barcodefile=params.techDir + "barcodes_v3.txt"

    // software paths
    brbseqTools = '/home/litovche/bin/BRBseqTools.1.5.jar'

    // genome base folder paths
    genomePath = '/home/litovche/Documents/RefGen/chr21human/'
 
    // trim_galore parameters.
    // parameters, like trimGalore_gzip
    trimGalore_quality = 20
    trimGalore_length = 20
    trimGalore_fastqc = '--fastqc' // set this to '' if you don't want to do qc
    trimGalore_gzip = '--gzip' //alternative '--dont_gzip'
    trimGalore_adapter = '' // set this to desired adapter sequence 
    trimGalore_adapter2 = '' // set this to desired adapter sequence
    // options below are usually not required for BRB-seq, but let's have them
    // just in case, one of --illumina, --nextera, --small_rna for the trimming
    trimGalore_tech = ''
    trimGalore_polyA = '' // set this to '--polyA' in order to activate
    // assemble trim_galore parameters
    trimGalore_allParms = '-q ' + params.trimGalore_quality + 
                          ' --length ' + params.trimGalore_length + ' ' +
                          params.trimGalore_adapter + ' ' + 
                               params.trimGalore_gzip + ' ' +

    // brbseq-tools parameters 
    umiLen = 10
    buPattern = 'BU' 

    // STAR parameters
    star_runThreadN = 1
    star_readFilesCommand = 'zcat'
    star_outSAMtype = 'BAM'
    star_sortBy = 'SortedByCoordinate'
    star_outFilterScoreMinOverLread = 0.66
    star_outFilterMatchNminOverLread = 0.66
    star_outFilterMultimapNmax = 1
}
