env {
  NXF_OPTS="-Xms512M -Xmx2G"
}

executor {
    name = 'local'
    // The maximum number of CPUs made available by the underlying system
    // (only used by the local executor).
    cpus = 6
    // The maximum amount of memory made available by the underlying system
    //(only used by the local executor).
    memory = '20 GB'
}

process {
    //all workflow processes use 6 cpus if not otherwise specified in the
    //workflow script
    cpus = 6
    memory = { 2.GB * task.attempt }
    time = { 4.h * task.attempt }
    maxRetries = 3
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
}