env {
  NXF_OPTS="-Xms512M -Xmx2G"
}

executor {
    name = 'local'
    // The maximum number of CPUs made available by the underlying system
    // (only used by the local executor).
    cpus = 6
    // The maximum amount of memory made available by the underlying system
    //(only used by the local executor).
    memory = '20 GB'
}

process {
    //all workflow processes use 2 cpus if not otherwise specified in the
    //workflow script
    cpus = 2
    memory = { 2.GB * task.attempt }
    time = { 4.h * task.attempt }

    maxRetries = 3

    // Process-specific resource requirements
    withLabel: low_memory {
        memory = { 1.GB * task.attempt }
    }
    withLabel: mid_memory {
        memory = { 2.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withLabel: high_memory {
        cpus = 3
        memory = { 2.GB * task.attempt }
        time = { 8.h * task.attempt }
    }

    withName: trimReads {
        time = { 8.h * task.attempt }
    }
    withName: mapWithStar {
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    }
    withName: countReads {
        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'ignore' }
    }
}

params {
    // general parameters
    R1code = "_R1_"
    R2code = "_R2_"
    fastqExtens = ".fastq\$\\|.fq\$\\|.fq.gz\$\\|.fastq.gz\$"
    
 
    // trim_galore parameters.
    // parameters, like trimGalore_gzip
    trimGalore_quality = 20
    trimGalore_fastqc = '' // set this to '' if you don't want to do qc
    trimGalore_gzip = '--gzip' //alternative '--dont_gzip'
    trimGalore_adapter = 'AAGCAGTGGTATCAACGCAGAGTAC' // this is BRB-seq adapter
    trimGalore_adapter2 = '' // set this to desired adapter sequence
    // options below are usually not required for BRB-seq, but let's have them
    // just in case, one of --illumina, --nextera, --small_rna for the trimming
    trimGalore_tech = ''
    trimGalore_polyA = '' // set this to '--polyA' in order to activate
    // assemble trim_galore parameters
    trimGalore_allParams = '-q ' + params.trimGalore_quality + ' ' +
                           params.trimGalore_fastqc + ' ' +
                           params.trimGalore_gzip + ' ' + 
                           params.trimGalore_tech + ' ' + 
                           params.trimGalore_polyA
    if (params.trimGalore_adapter != '') {
        trimGalore_allParams = params.trimGalore_allParams + ' --adapter ' +
                               params.trimGalore_adapter
    }
    if (params.trimGalore_adapter2 != '') {
        trimGalore_allParams = params.trimGalore_allParams + ' --adapter2 ' +
                               params.trimGalore_adapter2
    }

    // STAR parameters, not all, but main ones
    star_readFilesCommand = 'zcat'
    star_outSAMtype = 'BAM'
    star_sortBy = 'SortedByCoordinate'
    star_outFilterScoreMinOverLread = 0.66
    star_outFilterMatchNminOverLread = 0.66
    star_outFilterMultimapNmax = 1
    // assemble STAR parameters
    star_allParams = '--outFilterMultimapNmax ' + params.star_outFilterMultimapNmax + ' ' +
                     '--readFilesCommand ' + params.star_readFilesCommand + ' ' +
                     '--outSAMtype ' + params.star_outSAMtype + ' ' + params.star_sortBy + ' ' +
                     '--outFilterScoreMinOverLread ' + params.star_outFilterScoreMinOverLread + ' ' +
                     '--outFilterMatchNminOverLread ' + params.star_outFilterMatchNminOverLread

}
