{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Alithea Genomics</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- CSS -->
  <!-- Bootstrap -->
  <link href="{% static 'public_website/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Animate on scroll -->
  <link href="{% static 'public_website/css/aos.css' %}" rel="stylesheet">
  <!-- Various icons -->
  <link href="{% static 'public_website/css/icofont/icofont.min.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'public_website/css/style.css' %}" rel="stylesheet">

</head>

<body>
  <!-- HEADER-->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'index' %}">Alithea Genomics</a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#welcome">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#sci_basis">Scientific basis</a></li>
                <li><a href="#Investors">Investors</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <!-- In case if user logged in, display "log out" and "profile" -->  
                {% if user.is_authenticated %}
                  <li class="drop-down"><a href="{% url 'user-home' %}">Software</a>
                  <ul>
                      <li><a href="{% url 'Log out' %}">Log out</a>
                  </ul>
                  </li>
                {% else %}
                <li class="drop-down"><a href="">Software</a>
                  <ul>
                      <li><a href="{% url 'Log in' %}">Log in</a>
                      <li><a href="{% url 'Register' %}">Register</a>
                  </ul>
                </li>
          {% endif %} 
        </ul>
      </nav> <!-- END NAVIGATION BAR -->
    </div>
  </header>  <!-- END HEADER -->

  <!-- WELCOME SCREEN -->
  <section id="welcome" class="d-flex flex-column justify-content-center align-items-center">
    <!-- data-aos="fade-up" controls animation -->
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to Alithea Genomics</h1>
      <h2>We are team of scientists making <...> </h2>
      <a href="#about" class="btn-get-started scrollto">Learn more about our technology</a>
    </div>
  </section> <!-- END WELCOME SCREEN -->

  <main>

    <!-- ABOUT SECTION -->
  <section id="about" class="about">
      <div class="container">
        <div class="row">

          <!-- Image data-aos="fade-right" controls animation -->
          <div class="col-sm-3 col-md-6 col-lg-4 col-xl-5" data-aos="fade-right">
              <img src="{% static 'public_website/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          
          <!-- About company text-->
          <div class="col-sm-9 col-md-6 col-lg-8 col-xl-7">
              <h3 data-aos="fade-up">About us</h3>
              <p data-aos="fade-up">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac. 
              </p>
              <div class="icon-box" data-aos="fade-up">
                <i class="icofont-beaker"></i>
                <h4>Lorem ipsum dolor </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac. </p>
              </div>
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="icofont-binary"></i>
                <h4>Lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac. </p>
              </div>
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="icofont-dna-alt-2"></i>
                <h4>Lorem ipsum dolor </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac. </p>
              </div>
          </div>
        </div>
      </div>
  </section><!-- End About Section -->

  <!-- SERVICES SECTION -->
  <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h3>Services</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac. </p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="service-box shadow">
              <div class="service-icon"><i class="icofont-beaker"></i></div>
              <h4>Lorem Ipsum </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="service-box shadow">
              <div class="service-icon"><i class="icofont-computer"></i></div>
              <h4>Lorem Ipsum </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="service-box shadow">
              <div class="service-icon"><i class="icofont-test-tube"></i></div>
              <h4>Lorem Ipsum </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="service-box shadow">
              <div class="service-icon"><i class="icofont-dna"></i></div>
              <h4>Lorem Ipsum </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services -->

    <!-- SCIENTIFIC BASIS -->
    <section id="sci_basis" class="sci_basis">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
            <ul class="nav nav-tabs flex-column">
              <h3>Scientific basis</h3>
              <li>
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac.</p>
                </a>
              </li>
              <li class="mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac.</p>
                </a>
              </li>
              <li class="mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Lorem Ipsum</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac.</p>
                </a>
              </li>
            </ul>
          </div>

          <div class="col-lg-7 ml-auto" data-aos="fade-left">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="{% static 'public_website/img/sci_basics_1.png' %}" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="{% static 'public_website/img/sci_basics_2.png' %}" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="{% static 'public_website/img/sci_basics_3.png' %}"  class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  <!-- INVESTORS SECTION -->
  <section id="Investors" class="Investors">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h3>Investors and partners</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac. </p>
        </div>

        <div class="row">

          <div class="col-xl col-lg col-md" data-aos="fade-up" data-aos-delay="100">
            <a class="inverstors-pic" href="https://www.epfl.ch/en/" target="_blank">
              <img src="{% static 'public_website/img/EPFL.png' %}" />
            </a>
          </div>

          <div class="col-xl col-lg col-md" data-aos="fade-up" data-aos-delay="100">
            <a class="inverstors-pic" href="https://www.epfl.ch/en/" target="_blank">
              <img src="{% static 'public_website/img/EPFL.png' %}" />
            </a>
          </div>

          <div class="col-xl col-lg col-md" data-aos="fade-up" data-aos-delay="100">
            <a class="inverstors-pic" href="https://www.epfl.ch/en/" target="_blank">
              <img src="{% static 'public_website/img/EPFL.png' %}" />
            </a>
          </div>

        </div>
      </div>
  </section><!-- End Team Section -->

  <!-- TEAM SECTION -->
  <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h3>Team</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac. </p>
        </div>

        <div class="row">

          <div class="col-xl col-lg col-md" data-aos="fade-up" data-aos-delay="100">
            <a class="team-pic shadow" href="https://www.linkedin.com/in/dalpern/?originalSubdomain=ch" target="_blank">
              <div class="team-pic-overlay">
                <p class="in-image"> <strong> Daniel Alpern </strong> <br> Chief Executive Officer <br> </p>
              </div>
              <img src="{% static 'public_website/img/Daniel_Alpern.jpg' %}" />
            </a>
          </div>

          <div class="col-xl col-lg col-md" data-aos="fade-up" data-aos-delay="100">
            <a class="team-pic shadow" href="https://www.linkedin.com/in/bart-deplancke-b34928b/" target="_blank">
              <div class="team-pic-overlay">
                <p class="in-image"> <strong> Bart Deplancke </strong> <br> Chief Executive Officer <br>  </p>
              </div>
              <img src="{% static 'public_website/img/Bart_Deplancke.jpg' %}" />
            </a>
          </div>

          <div class="col-xl col-lg col-md" data-aos="fade-up" data-aos-delay="100">
            <a class="team-pic shadow" href="#" target="_blank">
              <div class="team-pic-overlay ">
                <p class="in-image"> <strong> Someone else </strong> <br> Chief Techical Officer <br>  </p>
              </div>
              <img src="{% static 'public_website/img/SomeOne_Else.jpg' %}" />
            </a>
          </div>

        </div>
      </div>
  </section><!-- End Team Section -->

  <!--CONTACT-->
  <section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h3>Contact us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nulla sit amet finibus ultrices, ante velit venenatis purus, ac.</p>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info shadow">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Route Cantonale, 1015 Lausanne</p>
              </div>

              <div class="email mt-4">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>bla bla bla</p>
              </div>

              <div class="phone mt-4">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+41 bla bla</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 d-flex align-items-stretch">
            <iframe width="600" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=EPFL&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>

    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright Alithea Genomics. All Rights Reserved
      </div>
      <div class="credits">
        Designed by Maria Litovchenko for Alithea Genomics
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- JAVA SCRIPT -->
  <script src="{% static 'public_website/javascript/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'public_website/javascript/jquery.easing/jquery.easing.min.js' %}"></script>
  <!-- Animate on scroll -->
  <script src="{% static 'public_website/javascript/aos/aos.js' %}"></script>
  <!-- URL hash navigation -->
  <script src="{% static 'public_website/javascript/owl.carousel/owl.carousel.min.js' %}"></script>
  <!-- Bootstrap - list in scientific basis-->
  <script src="{% static 'public_website/javascript/bootstrap/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'public_website/javascript/main.js' %}"></script>


</body>

</html>