/* https://coolors.co/41d3bd-1f2041-4b3f72-ffc857-407899 */
/*--------------------------------------------------------------
 WEB-SITE WIDE
--------------------------------------------------------------*/
h1, h2, h3, h4, h5 {
  font-family: "Helvetica";
  color: #000000;
}

h1 {
  font-size: 48px;
  font-weight: 700;  
  color: #1a535c;
}

h2 {
  font-size: 39px;
  font-weight: 400;
  color: #1a535c;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 20px;
  font-weight: 300;
}

p, span {
  font-size: 18px;
  font-weight: 300;
}

/*--------------------------------------------------------------
 HEADER - ALITHEA GENOMICS
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #1a535c;
}

#header .logo h1 {
  text-transform: uppercase;
  font-size: 24px;
  padding: 6px 0;
  font-weight: 550;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #ffffff;
  text-decoration: none;
}

/*--------------------------------------------------------------
 NAVIGATION BAR
--------------------------------------------------------------*/
.nav-menu > ul > li {
  list-style-type: none;
  float: left;
  margin-left: 30px;
}

.nav-menu a, .nav-menu a:hover {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 8px 0 12px 0;
  transition: 0.3s;
  font-size: 14px;
  text-decoration: none;
}

.nav-menu > ul > li {
  position: relative;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: #ee6c4d;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

/* Drop-down of navigation bar with registration */
.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #1a535c;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  list-style-type: none;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #1bac91;
}

/* Mobile Navigation */
/* Mobile Navigation  - three lines button*/
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  color: #ffffff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #1a535c;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 300;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ee6c4d;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(16, 31, 29, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
 WELCOME SCREEN
--------------------------------------------------------------*/
#welcome {
  width: 100%;
  height: calc(100vh - 72px);
  margin-top: 72px;
  padding: 0;
  background: url("../img/welcome_bg.jpg") center center;
}

#welcome h1 {
  margin: 0 0 10px 0;
  line-height: 56px;
}

#welcome h2 {
  margin: 0 0 10px 0;
  line-height: 45px;
}

#welcome .btn-get-started {
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  border: 2px solid #ee6c4d;
  color: #ee6c4d;
}

/*--------------------------------------------------------------
 ABOUT US
--------------------------------------------------------------*/
#about {
  padding: 50px 0 40px 0;
}

#about .icon-box h4 {
  margin-left: 60px;
}

#about .icon-box p {
  font-size: 16px;
  font-weight: 300;
  color: #1a535c;
  margin-left: 60px;
}

#about .icon-box i {
  font-size: 48px;
  float: left;
  color: #ee6c4d;
}

#about .icon-box {
  margin-top: 44px;
}

/*--------------------------------------------------------------
 SERVICES
--------------------------------------------------------------*/
#services {
  padding: 50px 0 40px 0;
  background: #E2D5C1;
}

#services .service-icon {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 5px;
  color: #ee6c4d;
}

.services .service-box {
  border-radius: 15px;
  background: #FFFFFF;
  padding: 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

/*--------------------------------------------------------------
 SCIENTIFIC BASIS
--------------------------------------------------------------*/
#sci_basis {
  padding: 50px 0 40px 0;
}

#sci_basis .nav-tabs {
  border: 0;
}

#sci_basis h4 {
  font-weight: 500;
}

#sci_basis .nav-link {
  border: 0;
  padding: 20px;
  transition: 0.3s;
  color: #21413c;
}

#sci_basis .nav-link:hover {
  color: #ee6c4d;
}

#sci_basis .nav-link.active {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
}

#sci_basis .nav-link.active h4 {
  color: #ee6c4d;
}

#sci_basis .tab-pane.active {
  -webkit-animation: slide-down 0.5s ease-out;
  animation: slide-down 0.5s ease-out;
}

/*--------------------------------------------------------------
 INVESTORS
--------------------------------------------------------------*/
#Investors {
  padding: 50px 0 40px 0;
  background: #E2D5C1;
}

#Investors .inverstors-pic {
  display: flex;
  flex: 0 0 150px;
  overflow: hidden;
  position: relative;
  width: 250px;
  margin-bottom: 50px;
}

#Investors .inverstors-pic img {
  height: 100%;
}

/*--------------------------------------------------------------
 TEAM
--------------------------------------------------------------*/
#team {
  padding: 50px 0 40px 0;
}

#team .team-pic {
  border-radius: 100%;
  display: flex;
  flex: 0 0 150px;
  height: 250px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 250px;
  margin-bottom: 50px;
}

#team .team-pic img {
  height: 100%;
}

#team .team-pic-overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

#team .team-pic-overlay  {
  background: linear-gradient(0deg, rgba(26,83,92), rgba(238,108,77));
  color: #fafafa;
  font-size: 24px;
}

#team .team-pic-overlay:hover {
  opacity: 1;
}

#team .in-image {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  white-space: pre;
}

/*--------------------------------------------------------------
 Contact
--------------------------------------------------------------*/
#contact {
  background: #E2D5C1;
  padding: 50px 0 40px 0;
}

#contact .info {
  padding: 30px;
  width: 80%;
  background: #fff;
}

#contact .info i {
  color: #1bac91;
  float: left;
  width: 44px;
  height: 44px;
  background: #e1f0ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#contact .info h4 {
  padding: 0 0 0 60px;
  margin-bottom: 5px;
}

#contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
}

#contact .info .email p {
  padding-top: 5px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #1a535c;
  padding: 0 0 30px 0;
  color: #FFFFFF;
  font-size: 10px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  text-align: center;
  color: #FFFFFF;
}