{% load static %}

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<!-- Tab title -->
	<title>Alithea Genomics</title>
	<meta content="" name="descriptison">
	<meta content="" name="keywords">

	<!-- Bootstrap JS -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="{% static 'userHome/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'public_website/bootstrap.min.css' %}">

	{% if title %}
		<title> User if test - {{ title }} </title>
	{% else %}
		<title> Simple title </title>
	{% endif %}
</head>

<body>
	<!-- HEADER -->
	<header id="header" class="fixed-top">
		<div class="container d-flex">

      	<div class="logo mr-auto">
        	<h1 class="text-light"><a href="#">BRB-seq soft</a></h1>
      	</div>

      	<!-- NAVIGATION BAR -->
     	<nav class="nav-menu d-none d-lg-block">
        	<ul>
          		<li class="active"><a href="{% url 'user-home' %}">Home</a></li> 
          			<li><a href="{% url 'user-tutorial' %}">Tutorial</a></li>
          			<li><a href="#services">FAQ</a></li>
          			<!-- In case if user logged in, display "log out" and "profile" -->  
          			{% if user.is_authenticated %}
          				<li><a href="{% url 'Profile' %}">Profile</a></li>
						<li><a href="{% url 'Log out' %}">Log out</a></li>
        			{% else %}
        			 	<li><a href="{% url 'Log in' %}">Log in</a></li>
				    	<li><a href="{% url 'Register' %}">Register</a></li>
				    </li>
					{% endif %}        	
        	</ul>
     	</nav> <!-- END NAVIGATION BAR -->
    	</div>
 	</header> <!-- END HEADER -->

	
	<section id="UI" class="flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
    	{% if messages %}
	      	{% for message in messages %}
	      	<div class = "alert alert-{{ message.tags }}"> 
	      		{{ message }}
	      	</div>
	      	{% endfor %}
	    {% endif %}
		{% block content %}{% endblock %}
    </div>
  </section>

</body>
</html>