{% load static %}

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<!-- Tab title -->
	<title>Alithea Genomics - software</title>
	<meta content="" name="descriptison">
	<meta content="" name="keywords">

	<!-- CSS -->
	<!-- Bootstrap -->
	<link href="{% static 'public_website/css/bootstrap.min.css' %}" rel="stylesheet">
  	<!-- Animate on scroll -->
	<link href="{% static 'public_website/css/aos.css' %}" rel="stylesheet">
 	<!-- Various icons -->
  	<link href="{% static 'public_website/css/icofont/icofont.min.css' %}" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="{% static 'userHome/style.css' %}">
</head>		

<body>
	<!-- HEADER -->
	<header id="header" class="fixed-top">
		<div class="container d-flex">

      	<div class="logo mr-auto">
        	<h1 class="text-light"><a href="{% url 'index' %}">Alithea Genomics</a> <sup><small><i> - software</i></small></sup>  </h1> 
      	</div>

      	<!-- NAVIGATION BAR -->
     	<nav class="nav-menu d-none d-lg-block">
        	<ul>
        		<!-- In case if user logged in, display "log out" and "profile" --> 
        		{% if user.is_authenticated %}
          			<li class="active"><a href="{% url 'user-home' %}">Home</a></li> 
          			<li><a href="{% url 'user-tutorial' %}">Tutorial</a></li>
          			<li><a href="{% url 'Profile' %}">Profile</a></li>
					<li><a href="{% url 'Log out' %}">Log out</a></li>
				{% else %}
					<li class="active"><a href="{% url 'Log in' %}">Log in</a></li>
				    <li><a href="{% url 'Register' %}">Register</a></li>
          		{% endif %}        	
        	</ul>
     	</nav> <!-- END NAVIGATION BAR -->
    	</div>
 	</header> <!-- END HEADER -->

	
	<section id="UI" class="flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
    	{% if messages %}
	      	{% for message in messages %}
	      	<div class = "alert alert-{{ message.tags }}"> 
	      		{{ message }}
	      	</div>
	      	{% endfor %}
	    {% endif %}
		{% block content %}{% endblock %}
    </div>
  </section>

  <!-- JAVA SCRIPT -->
  <script src="{% static 'public_website/javascript/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'public_website/javascript/jquery.easing/jquery.easing.min.js' %}"></script>
  <!-- Animate on scroll -->
  <script src="{% static 'public_website/javascript/aos/aos.js' %}"></script>
  <!-- URL hash navigation -->
  <script src="{% static 'public_website/javascript/owl.carousel/owl.carousel.min.js' %}"></script>
  <!-- Bootstrap - list in scientific basis-->
  <script src="{% static 'public_website/javascript/bootstrap/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'public_website/javascript/main.js' %}"></script>

</body>
</html>