{% extends "userHome/base.html" %}

{% block content %}
	<h1> Overview of your projects: </h1>
	<a class="btn btn-new-project shadow mb-5" href="{% url 'project-create' %}"> New project </a>

	<div class="container">                 
		<div class="table-responsive table-hover table-condensed shadow">          
  			<table class="table">
    			<thead class="thead-light">
      				<tr>
        				<th>ID</th>
        				<th>Name</th>
        				<th>Description</th>
        				<th>Created</th>
        				<th>Completed</th>
      				</tr>
    			</thead>
    			{% for project in projects %}
					{% if project.author  == user %}
    					<tbody>
      						<tr>
        						<td>{{ project.id }}</td>
        						<td>{{ project.name }}</td>
        						<td>{{ project.description }}</td>
        						<td>{{ project.date_created|date:"d F, Y"}}</td>
        						<td></td>
      						</tr>
    					</tbody>
    				{% endif %}
				{% endfor %}
  			</table>
  		</div>
	</div>

	<!--- {% if is_paginated %}

		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb4" href="?page=1">1</a>		
			<a class="btn btn-outline-info mb4" href="?page={{ page_obj.has_previous_page_number }}">Previous</a>
		{% endif%}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
				<a class="btn btn-info mb4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb4" href="?page=page_obj.next_page_number">Next</a>		
			<a class="btn btn-outline-info mb4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif%}

	{% endif %} -->
{% endblock content %}
